{% from "macros.html" import not_none, parse_cite_as, show_authors %}
{% extends 'base.html' %}
{% block content %}

<div class="row" style="margin-right: 0; margin-left: 0;">
  <!-- <div class="col-lg-4 col-sm-12">
       <img src="{{ url_for('static', filename='img/fig1.svg')}}" class="img-fluid p-3" alt="Kipoi overview figure">
       </div> -->
  <div class="col-lg-5 mx-auto">
    <!-- <h3 class="media-heading">About</h3> -->
    <h4>What is Kipoi?</h4>
    <p>
      Kipoi is a repository containing hundreds of predictive models for
      genomics. It provides unified means to access and use these
      models. Each model comes with the code to load and preprocess
      data. This greatly facilitates applying models to new data and
      creating new models.
    </p>

    <h4>What can I do with Kipoi?</h4>

    <p>
      With Kipoi you can: 

      <ul>
	<li><a href="">Explore</a> hundreds of trained models for genomics and apply them to new data in few
	  lines of code in 
	  <ul>
	    <li><a href='http://kipoi.org/docs/tutorials/python-api/'>python</a></li>
	    <li><a href='http://kipoi.org/docs/tutorials/R-api/'>R</a></li>
	    <li><a href='http://kipoi.org/docs/using/01_Getting_started/#command-line-interface-quick-start'>command line</a>.</li>
	  </ul>
	<li>Evaluate the impact of genetic variants with the majority of Kipoi
	  models. See <a href='http://kipoi.org/docs/using/02_Variant_effect_prediction/'>docs</a> and <a href='http://kipoi.org/docs/tutorials/variant_effect_prediction/'>notebook</a>.</li>
	<li>Fine-tune an existing model on a new dataset. See our <a href='http://kipoi.org/docs/tutorials/python-api/#re-train-the-keras-model'>notebook</a> 
	  and Keras fine-tuning <a href='https://gist.github.com/fchollet/7eb39b44eb9e16e59632d25fb3119975'>example</a>.</li>
	<li>Compose a new model using other models as building blocks. See <a href='http://kipoi.org/docs/using/02_Variant_effect_prediction/'>notebook</a>.</li>
	<li>Publish your own models and reach a broad community. See <a href='http://kipoi.org/docs/contributing/01_Getting_started/'>how</a>.</li>
      </ul>
    </p>
    
    <p>
      Machine learning frameworks are easily integrated into Kipoi. So
      far we integrated:
      <ul>
	<li>Tensorflow</li>
	<li>Pytorch</li>
	<li>Keras</li>
	<li>Scikit-learn</li>
      </ul>

      Models not developed with one of these frameworks can also be
      submitted to Kipoi. See <a href='http://kipoi.org/docs/contributing/05_Writing_model.py/'>how</a>.
    </p>

    <h4>Why do we need it?</h4>
    <p>
      In genomics, we aim to understand how genetic
      sequence - a text of 3 billion A’s, C’s, G’s, and T’s - encodes
      biological processes and predisposes to diseases. Worldwide,
      research labs are deciphering individual aspects of this code by
      training predictive models to data produced by high-throughput
      technologies such as sequencing and genome-wide
      CRISPR-Cas. However, these predictive models are implemented in
      various programming languages and machine learning
      frameworks. They are made available through different channels,
      such as code repositories and supplementary material of
      articles. This heterogeneity makes it difficult to apply models to
      new data, to compare models, and to re-use models while developing
      new ones. By providing a unified access to models, we want to
      lower the entry barrier to modeling in genomics and to accelerate
      the translation of basic genomics research into medical
      applications.
    </p>

    <h4>Great! How can I help?</h4>
    <p>
      <ul>
	<li>Use Kipoi in your research and provide feedback via <a href='https://github.com/kipoi/kipoi/issues'>github issues</a>.</li>
	<li>Contribute models. See <a href='http://kipoi.org/docs/contributing/01_Getting_started/'>how</a>.</li>
	<li>Improve <a href='https://github.com/kipoi/kipoi'>Kipoi python package</a> via pull requests.</li>
	<li><a href='https://github.com/kipoi/models/issues/55'>Join</a> the development team.</li>
      </ul>
    </p>
  </div>
</div>
{% endblock %}
