<table id="model-list-table" class="mdl-data-table table-responsive-lg" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th class="text-left">Model name</th>
            <th>Authors</th>
            <th>Contributed by</th>
            <th>Type</th>
            <th>Cite as</th>
            <th>License</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-left">Model name</th>
            <th>Authors</th>
            <th>Contributed by</th>
            <th>Type</th>
            <th>Cite as</th>
            <th>License</th>
            <th>Tags</th>
        </tr>
    </tfoot>
    <tbody>
        {% for item in groups %}
        <tr>
            <td class="text-left">
                <a class="" href="{{ url_for('models.model_list', model_name=item.abs_group) }}">
                    {{ item.group }}
                </a>
            </td>
            <td>
              {{ show_authors(item.authors, short=True) }}
            </td>
            <td>
              {{ show_authors(item.contributors, short=True) }}
            </td>
            <td>
                {{ list_set(item.type) }}
            </td>
            <td>
                {{ parse_cite_as(item.cite_as) }}
            </td>
            <td>
                {{ list_set(item.license) }}
            </td>
            <td>{{ item.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--/Section: Intro-->