<table id="model-list-table" class="mdl-data-table" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th class="text-left">Model name</th>
            <th>Authors</th>
            <th>Type</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-left">Model name</th>
            <th>Authors</th>
            <th>Type</th>
            <th>Tags</th>
        </tr>
    </tfoot>
    <tbody>
        {% for item in groups %}
        <tr>
            <td class="text-left">
                <a class="" href="{{ url_for('models.model_list', source="kipoi", model_name=item.group) }}">
                    {{ item.group }}
                </a>
            </td>
            <td>
            {% for author in item.authors %}
                {{ author.name}}
                {% if author.github %}
                    <a href="https://github.com/{{ author.github }}" class="github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if author.email %}
                    <a href="mailto:{{ author.email }}">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                {% endif %}
                {% if not loop.last %}, {% endif %}
            {%endfor %}
            </td>
            <td>
                {% for type in item.type %}
                    {{ type }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ item.tag }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--/Section: Intro-->