{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-9 col-md-9 col-sm-9">
        <!--Section: model-list content-->
        <section class="model-list">
            <!--<h2 class="overlayed-title">Model list</h2>-->
            <hr class="w-100 clearfix d-lg-none">
        </section>
        <!--/Section: model-list content-->
        {% include 'models/group_list.html' %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- <a class="twitter-timeline" href="https://twitter.com/ZupanNejc/lists/kipoi?ref_src=twsrc%5Etfw">A Twitter List by ZupanNejc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('#model-list-table').DataTable({
                "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "All"] ],
                "pageLength": 50,
                "dom": 'rtip'
            });
            $('.dt-table').css('width', '100%');

            oTable = $('#model-list-table').DataTable();
            $('#search-bar').keyup(function(){
                oTable.search($(this).val()).draw() ;
            })
            $('.dataTables_info').addClass('col-md-5 text-right mt-2');
            $('.dataTables_paginate').addClass('col-md-7 mt-4');
        });
    </script>
{% endblock%}
