{% from "macros.html" import not_none, parse_cite_as, show_authors %}
{% extends 'base.html' %}
{% block content %}
<div class="row" style="margin-right: 0; margin-left: 0;">
    <div class="col-xl-12">
        <!--Section: model-list content-->
        <section class="model-list">
            {% include 'models/model_list.html' %}
        </section>
        <!--/Section: model-list content-->                        
    </div>
    
</div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('#model-list-table').DataTable({
                "lengthMenu": [ [25, 50, 100, -1], [25, 50, 100, "All"] ],
                "pageLength": 50,
                "dom": 'rtip'
            });
            $('.dt-table').css('width', '100%');

            oTable = $('#model-list-table').DataTable();
            $('#search-bar').keyup(function(){
                oTable.search($(this).val()).draw() ;
            })
            $('.dataTables_info').addClass('col-md-5 text-right mt-2');
            $('.dataTables_paginate').addClass('col-md-7 mt-4');
			$('.readmecontent img').css('max-width','100%')
        });
    </script>
{% endblock%}
