{% from "macros.html" import show_authors, list_dependencies, postprocessing_info, model_args_info, display_schema_inputs, dataloaders_info, dataloaders_args, code_snippet, not_none, parse_cite_as %}
{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!--Section: model-details content-->
        <section class="model-details">
            <!--<h2 class="">Model Details</h2>-->

                <div class="jumbotron">
                    <div class="row">
                        <div class="col-lg-7">
                            <!-- Model title -->
                            <h1 class="h1-responsive">
                                {%- for level in title -%}
                                {%- if not loop.last -%}
                                <a href="{{ url_for('models.model_list', source="kipoi", model_name=title[0:loop.index]|join('/')) }}">{{ level }}</a>/
                                {%- else -%}
                                {{ level }}
                                {%- endif -%}
                                {%- endfor -%}

                            </h1>
                        </div>
                        <!-- Model details -->
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <p>Authors: {{ show_authors(model.info.authors) }}</p>
                                    <p>
                                        Name:
                                        {% if model.info.name %}
                                            {{ model.info.name }}
                                        {% endif %}
                                    </p>
                                    <p>Version: {{ model.info.version }}</p>
                                    <!-- License -->
                                    <p>License: {{ model.info.license }}</p>
                                    <p>Contributed by: {{ show_authors(model.info.contributors) }}</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-12">
                                    <!-- Cite as -->
                                    <p>Cite as: {{ parse_cite_as(model.info.cite_as) }}</p>

                                    <!-- Trained on -->
                                    <p>Trained on: {{ not_none(model.info.trained_on) }}</p>

                                    <!-- Model type -->
                                    <p>
                                        Type:
                                        {% if model.type %}
                                            <a data-toggle="tooltip" data-placement="top" data-html="true" title="{{ model_args_info(model.args) }}"><span class="badge badge-pill rgba-stylish-strong hoverable" >{{ model.type }}</span></a>
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>

                                    <!-- Model postprocessing -->
                                    <p>
                                        Postprocessing:
                                        {% if model.postprocessing %}
                                            {% for k, v in model.postprocessing.get_config().items() %}
					        {% if v is not none %}
                                                    <a data-toggle="tooltip" data-placement="top" data-html="true" title="{{ postprocessing_info(v) }}"><span class="badge badge-pill rgba-stylish-strong hoverable" >{{ k }}</span></a>
						{% endif %}
                                            {% endfor %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-12 col-sm-12">
                            <!-- Model description -->
                            <p class="lead">{{ model.info.doc }}</p>    
                        </div>

                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <!-- Model code snippets -->
                            {% include 'models/model_code_snippets.html' %}
                        </div>
                    </div>
                    
                    <hr class="w-100 clearfix">

                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <!-- Model schema -->
                            {% include 'models/model_schema.html' %}
                        </div>
                        <hr class="w-100 clearfix d-lg-none">
                        <div class="col-lg-7 col-md-12">
                            <!-- Dataloader details -->
                            {% include 'models/model_dataloaders.html' %}
                        </div>
                    </div>
                
                    <hr class="w-100 clearfix">
                    
                    <!-- Model and dataloader dependencies -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div class="row">
                                {% include 'models/model_dependencies.html' %}
                            </div>
                        </div>
                    </div>
                    <hr class="w-100 clearfix">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <div id="disqus_thread"></div>
                        </div>
                    </div>
                </div>
        </section>
        <!--/Section: model-details content-->                        
    </div>
{% endblock %}

{% block script %}
    <script language="JavaScript">
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();

            $('.copy-to-clipboard').on('click', function() {
                /* Get the code field */
                var copyCode = $(this).closest('.code-container').find('code').html();
                var $temp = $("<textarea>");
                $("body").append($temp);
                $temp.val(copyCode).select();
                document.execCommand("copy");
                $temp.remove();
            });
        });

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "{{ request.base_url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ request.path }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://http-ec2-54-87-147-83-compute-1-amazonaws-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
{% endblock%}
