<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header">
            Model dependencies
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <strong>conda</strong>:<br>
                    {{ list_dependencies(model.dependencies.conda) }}
                </div>
                <hr class="w-100 clearfix d-sm-none">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <strong>pip</strong>:<br>
                    {{ list_dependencies(model.dependencies.pip) }}
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="w-100 clearfix d-md-none">
<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header">
            Dataloader dependencies
        </div>
        <div class="card-body">
            <div class="row">
                {% if dataloader %}
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <strong>conda</strong>:<br>
                        {{ list_dependencies(dataloader.dependencies.conda) }}
                    </div>
                    <hr class="w-100 clearfix d-sm-none">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <strong>pip</strong>:<br>
                        {{ list_dependencies(dataloader.dependencies.pip) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
