<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#cli" role="tab">CLI</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#python" role="tab">python</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#r" role="tab">R</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#docker" role="tab">docker</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <!-- CLI code snippet tab -->
    <div class="tab-pane active" id="cli" role="tabpanel">
        <div class="border border-top-0 code-snippet-container">
            {% for label,snippet in code_snippets['cli']%}
                {{ code_snippet(label, snippet, "bash") }}
            {% endfor %}
        </div>
    </div>

    <!-- python code snippet tab -->
    <div class="tab-pane" id="python" role="tabpanel">
        <div class="border border-top-0 code-snippet-container">
            {% for label,snippet in code_snippets['python']%}
                {{ code_snippet(label, snippet, "python") }}
            {% endfor %}
        </div>
    </div>
    
    <!-- R code snippet tab -->
    <div class="tab-pane" id="r" role="tabpanel">
        <div class="border border-top-0 code-snippet-container">
            {% for label,snippet in code_snippets['R']%}
                {{ code_snippet(label, snippet, "R") }}
            {% endfor %}
        </div>
    </div>

    <!-- docker code snippet tab -->
    <div class="tab-pane" id="docker" role="tabpanel">
        <div class="border border-top-0 code-snippet-container">
            {% for label,snippet in code_snippets['docker']%}
                {{ code_snippet(label, snippet, "docker") }}
            {% endfor %}
        </div>
    </div>
</div>