<div class="card">
        <div class="card-header warning-color-dark white-text clearfix">
            Dataloader
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-lg-5">
		<!-- TODO - ifelse  -->
		{% if rel_path %}
                  <p><strong>Relative path:</strong> {{ dataloader_name }}</p>
		{% else %}
  		  <p><strong>Defined as:</strong> {{ dataloader_name }}</p>
		{% endif %}
                  <p><strong>Doc:</strong> {{ dataloader.info.doc }}</p>
                  <p><strong>Authors:</strong> {{ show_authors(dataloader.info.authors) }}</p>
                  <p><strong>Type:</strong> {{ dataloader.type }}</p>
                  <p><strong>License:</strong> {{ dataloader.info.license }}</p>

                </div>
                <hr class="w-100 clearfix d-lg-none">
                <div class="col-lg-7">
                  <h4 class="card-title mt-2 mb-3">Arguments</h4>
                  {{ dataloaders_args(dataloader_args) }}
                </div>
            </div>
        </div>
</div>
    