<table id="model-list-table" class="mdl-data-table table-responsive-lg" cellspacing="0" style="width:100%">
    <thead>
        <tr>
            <th class="text-left">Model name</th>
            <th>Version</th>
            <th>Authors</th>
            <th>Type</th>
            <th>Cite as</th>
            <th>License</th>
            <th class="d-lg-none d-md-none d-sm-none d-xs-none">Training procedure</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-left">Model name</th>
            <th>Version</th>
            <th>Authors</th>
            <th>Type</th>
            <th>Cite as</th>
            <th>License</th>
            <th class="d-lg-none d-md-none d-sm-none d-xs-none">Training procedure</th>
        </tr>
    </tfoot>
    <tbody>
        {% for item in models %}
        <tr>
            <td class="text-left">
                <a class="" href="{{ url_for('models.model_list', source="kipoi", model_name=item.model) }}">
                {{ item.model }}
                </a>
            </td>
            <td>{{ item.version }}</td>
            <td>
                {{ show_authors(item.authors, short=True) }}
            </td>
            <td>{{ item.type }}</td>
            <td>
                {{ parse_cite_as(item.cite_as) }}
            </td>
            <td>
                {{ not_none(item.license) }}
            </td>
            <td class="d-lg-none d-md-none d-sm-none d-xs-none">
                {{ not_none(item.training_procedure) }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!--/Section: Intro-->