<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                Model dependencies
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                Dataloader dependencies
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul class="list-group">
                    <p>
                        <strong>conda</strong>:<br>
                        {{ list_dependencies(model.dependencies.conda) }}
                    </p>
                    <p>
                        <strong>pip</strong>:<br>
                        {{ list_dependencies(model.dependencies.pip) }}
                    </p>
                </ul>
            </div>
            <hr class="w-100 clearfix d-lg-none">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <ul class="list-group">
                    <p>
                        <strong>conda</strong>:<br>
                        {{ list_dependencies(dataloader.dependencies.conda) }}
                    </p>
                    <p>
                        <strong>pip</strong>:<br>
                        {{ list_dependencies(dataloader.dependencies.pip) }}
                    </p>
                </ul>
            </div>
        </div>
    </div>
</div>
