{% from "macros.html" import not_none, parse_cite_as, show_authors %}
{% extends 'base.html' %}
{% block content %}

<!-- - what is it?
- when is it?
- how to register?
- agenda?
- next speaker?
- past speakers
- apply as speaker-->
<div class="row" style="margin-right: 0; margin-left: 0;">
    <div class="col-lg-6 mx-auto">
        <!-- <h3 class="media-heading">About</h3> -->
        <h3>Kipoi - Seminar</h3>
        <p>
            The monthly virtual seminar series is designed as a platform for interested Kipoi users and developers and
            will host talks on the applications of deep learning on biological data.
            The seminar is held on every first Wednesday of the month at 5:30 p.m. - 6:30 p.m. CET. We are also happy to
            share the recordings of the seminar on <a href="https://www.youtube.com/channel/UCL_iKCHUxepOi7_Wk010--g">YouTube</a>.
        </p>
        <h4>How to take part</h4>
        <p>
            The Virtual Seminar Series takes place via Zoom.
            To take part in the seminar, you can register for the online Zoom conference <a
                href='https://tum-conf.zoom.us/meeting/register/u5MpcuCvqDwoHtRxJTdDig7co4LJoiHrYugn'>here</a>.
            Your personal join link will be valid for all upcoming lectures of the series.
        </p>
        <h4>How to apply as a speaker</h4>
        <p>The seminar is a great opportunity to present your recent work to a large international audience.
            If you want to apply as a speaker, please use the contact in the registration confirmation email.</p>
        <h4>Next seminar</h4>
        <h6> Title: Domain adaptation-based deep learning for automated Tumor Cell (TC) scoring and survival analysis on PD-L1 stained tissue images </h6> 1 September 2021 5:30 p.m. - 6:30 p.m. Central European Summer Time
        <p>Speaker: <strong><a>Ansh Kapil</a></strong>, Astra Zeneca, Munich</p>
        <strong>Abstract:</strong>
        <p align="justify">
            We report the ability of two deep learning-based decision systems to stratify non-small cell lung cancer
            (NSCLC) patients treated with checkpoint inhibitor therapy into two distinct survival groups. Both systems
            analyze functional and morphological properties of epithelial regions in digital histopathology whole slide
            images stained with the SP263 PD-L1 antibody. The first system learns to replicate the pathologist
            assessment of the Tumor Cell (TC) score with a cut-point for positivity at 25% for patient stratification.
            The second system is free from assumptions related to TC scoring and directly learns patient stratification
            from the overall survival time and event information. Both systems are built on a novel unpaired domain
            adaptation deep learning solution for epithelial region segmentation. This approach significantly reduces
            the need for large pixel-precise manually annotated datasets while superseding serial sectioning or
            re-staining of slides to obtain ground truth by cytokeratin staining. The capacity of the first system to
            replicate the TC scoring by pathologists is evaluated on 703 unseen cases, with an addition of 97 cases from
            an independent cohort. Our results show Lin’s concordance values of 0.93 and 0.96 against pathologist
            scoring, respectively. The ability of the first and second system to stratify anti-PD-L1 treated patients is
            evaluated on 151 clinical samples. Both systems show similar stratification powers (first system: HR =0.539,
            p=0.004 and second system: HR=0.525, p=0.003) compared to TC scoring by pathologists (HR=0.574, p=0.01).
        </p>

        <h4>Upcoming speakers</h4>
        <div class="container-fluid">
        <ul class="list-unstyled">
            <li>1 September 2021 - <a>Ansh Kapil</a>, AstraZeneca, Munich</li>
        </ul>
        </div>
        <h4>Previous speakers</h4>
        <div class="container-fluid">
        <ul class="list-unstyled">
            <li>4 August 2021 - <a href="https://www.mskcc.org/research/ski/labs/christina-leslie">Christina Leslie</a>, Sloan Kettering Institute, New York</li>
            <li>7 July 2021 - <a href="http://zhanglab.net/">Qiangfeng Cliff Zhang</a>, Tsinghua University, Beijing</li>
            <li>2 June 2021 - <a href = "https://www.seeliglab.org/">Johannes Linder</a>, University of Washington, Seattle </li>
            <li>5 May 2021 - <a href = "https://profiles.stanford.edu/anshul-kundaje">Anshul Kundaje</a>, Stanford University, Stanford</li>
            <li>7 April 2021 - <a href="https://cellfate.uci.edu/themes/center-fellows/">Yingxin Cao</a>, UC Irvine </li>
            <li>3 March 2021 - <a href="https://stanford.edu/~avanti/">Avanti Shrikumar</a>, Stanford University, Stanford  </li>
            <li>3 February 2021 - <a href = "https://www.mdc-berlin.de/ohler">Uwe Ohler</a>, Max-Delbrück-Center for Molecular Medicine, Berlin</li>
            <li>2 December 2021 - <a href="https://www.rdm.ox.ac.uk/people/ron-schwessinger">Ron Schwessinger</a>, Radcliffe Department of Medicine, Oxford</li>
            <li>4 November 2020 - <a href="http://www.davidrkelley.com/">David Kelley</a>, Calico, San Francisco</li>
            <li>7 October 2020 - <a href="https://www.calicolabs.com/">Vikram Agarwal</a>, Calico, San Francisco</li>
        </ul>
        </div>
        </div>
    </div>
    {% endblock %}