{% from "macros.html" import not_none, parse_cite_as, show_authors %}
{% extends 'base.html' %}
{% block content %}

<div class="row" style="margin-right: 0; margin-left: 0;">

    <div class="thumbnail">
        <img src="{{ url_for('static', filename='img/kipoi_hero.jpeg')}}"
             alt="Thumbnail Image">
    </div>


    <div class="side-menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#organizer">Organizer</a></li>
            <li><a href="#speakers">Speakers</a></li>
            <!--            <li><a href="#schedule">Schedule</a></li>-->
            <li><a href="#submission">Abstract<br>Submission</a></li>
            <li><a href="#venue">Venue</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div class="col-lg-9 mx-auto">
        <!-- <h3 class="media-heading">About</h3> -->
        <h3>Kipoi Summit </h3>
        <h3> New horizons in Computational Regulatory Genomics </h3>
        <p>
            Join us for an exciting two-day conference September 25 and 26 at the top of Zugspitze, the highest mountain
            in Germany, as we bring together a small group of 40 scientists that are interested in computational regulatory
            genomics. The goal of the event is to share cutting-edge research, exchange knowledge, discuss current
            challenges and foster collaboration.
        </p>
        <h4 id="about">About</h4>
        <!--About Section:

    Conference overview: Provide a comprehensive description of the conference, including its objectives, target audience, and scope.
    Organizers: Introduce the organizing committee or organization responsible for hosting the conference.
    Key features: Highlight any special features, such as keynote speakers, workshops, panel discussions, networking opportunities, or any other unique selling points.-->
        <p>
            The Kipoi Summit is a two-day conference dedicated to computational regulatory genomics. We will have oral
            presentations and a poster session on topics including:
        </p>
        <ul class="list">
            <li>Transcriptional & Post-Transcriptional regulatory code</li>
            <li>Sequence interpretation & design</li>
            <li>Application of regulatory genomics to complex traits and diseases</li>
            <li>Evolution of genomic sequences</li>
        </ul>

        <p> On top of this we will have a panel discussion on experimental designs to unravel the regulatory code. </p>
        <ul class="list-unstyled">
            <li><strong>Dates: September 25-26, 2023</strong></li>
            <li><strong>Cost: Registration is free</strong></li>
            <li><strong>Abstract submission deadline: July 2, 2023, 11:59 pm CET</strong></li>
        </ul>

        <h4 id="organizer">Kipoi Summit organizers</h4>
        <div class="speakers-container">
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_julien_gagneur.png')}}" alt="Speaker 1">
                <p class="speaker-name">Julien Gagneur</p>
            </div>
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_eva_holtkamp.jpg')}}" alt="Speaker 2">
                <p class="speaker-name">Eva Holtkamp</p>
            </div>
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_pedro_tomaz.png')}}" alt="Speaker 3">
                <p class="speaker-name">Pedro Tomaz da Silva</p>
            </div>
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_laura_martens.jpeg')}}" alt="Speaker 4">
                <p class="speaker-name">Laura Martens</p>
            </div>
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_oliver_stegle.png')}}" alt="Speaker 5">
                <p class="speaker-name">Oliver Stegle</p>
            </div>
            <div class="speaker">
                <img src="{{ url_for('static', filename='img/face_michael_ziller.png')}}" alt="Speaker 6">
                <p class="speaker-name">Michael Ziller</p>
            </div>
        </div>


        <h4 id="speakers">Confirmed Keynote Speakers</h4>
        <div class="detailed-speakers">
            <div class="speaker-image">
                <img src="{{ url_for('static', filename='img/face_ziga_avsec.jpg')}}" alt="Speaker 1">
            </div>
            <div class="speaker-details">
                <div class="speaker-info">
                    <h3 class="speaker-name">
                        <a href="https://scholar.google.de/citations?hl=en&user=gojWHbQAAAAJ&view_op=list_works&sortby=pubdate">Žiga
                            Avsec</a>
                    </h3>
                    <p class="speaker-affiliation">DeepMind</p>
                </div>
                <p class="speaker-bio"><em></em></p>
            </div>
        </div>
        <div class="detailed-speakers">
            <div class="speaker-image">
                <img src="{{ url_for('static', filename='img/face_carl_de_boer.jpg')}}" alt="Speaker 1">
            </div>
            <div class="speaker-details">
                <div class="speaker-info">
                    <h3 class="speaker-name">
                        <a href="https://deboer.bme.ubc.ca/">Carl de Boer</a>
                    </h3>
                    <p class="speaker-affiliation">University of British Columbia</p>
                </div>
                <p class="speaker-bio"><em></em></p>
            </div>
        </div>
        <div class="detailed-speakers">
            <div class="speaker-image">
                <img src="{{ url_for('static', filename='img/face_annalisa_marsico.png')}}" alt="Speaker 3">
            </div>
            <div class="speaker-details">
                <div class="speaker-info">
                    <h3 class="speaker-name">
                        <a href="https://www.helmholtz-munich.de/en/icb/research-groups/marsico-lab">Annalisa
                            Marsico</a>
                    </h3>
                    <p class="speaker-affiliation">Helmholtz Munich</p>
                </div>
                <p class="speaker-bio"><em></em></p>
            </div>
        </div>

        <h4 id="submission">Abstract Submission</h4>
        <ul class="list">
            <li><strong>Abstract submission deadline: July 2, 2023, 11:59 pm CET</strong></li>
            <li><strong>Abstract length: 3000 characters including spaces</strong></li>
            <li><strong>Decision Notification: July 14, 2023</strong></li>
            <li><strong>Conference: September 25-26, 2023</strong></li>
        </ul>
        <p align="center">
            <a target="_blank" href="https://drive.google.com/drive/folders/174JM1ddPpcDSiGQQ7lDabHi9w-UBUzIC?usp=drive_link"
               class="btn btn-primary waves-effect waves-light" rel="nofollow">Schedule and Abstract Book</a>
        </p>


        <h4 id="venue">Venue</h4>
        <p>We are excited to announce that the conference will be held at the <a href="https://schneefernerhaus.de/en/">
            Environmental Research Station
            Schneefernerhaus</a>, nestled at an elevation of 2650 m just below the summit of Zugspitze, Germany's
            highest
            mountain. As part of the experience, we will embark together on our journey to Zugspitze from Garmisch-Partenkirchen.
        </p>
        <p>To ensure a smooth and timely start to the conference, we kindly request all attendees to meet at 8 am on the
            first conference day, September 25, 2023, in Garmisch-Partenkirchen. From there, we will go together to
            Schneefernerhaus by rack railway and cable car from Garmisch-Partenkirchen. Therefore, we recommend booking
            a hotel in Garmisch-Partenkirchen for the night of Sunday, September 24, 2023, to Monday, September 25, 2023.

            The costs for the hotel accommodation in Garmisch-Partenkirchen will be the
            responsibility of each participant and should be covered individually.
        </p>
        <p>
            Registration for the conference is free and includes various amenities. It covers the rack railway and cable
            car costs from Garmisch to Schneefernerhaus, accommodation (shared rooms), breakfast, lunch, dinner, and non-alcoholic beverages.</p>
        <p>The official conference program will conclude on Tuesday, September 26, 2023, at 12:00 pm. Participants can
            expect to return to Garmisch-Partenkirchen by 3:00 pm. If you're interested, you can join us for lunch at
            the summit of Zugspitze before departure. </p>
        <p>We would like to highlight that our conference coincides with the Munich Oktoberfest, and as such, we
            recommend booking hotels in Garmisch-Partenkirchen well in advance. Currently, single rooms are priced at
            around 120€ per night. We are in the process of arranging hotel contingents and will provide further details
            soon. </p>
        <p>Please also take into consideration any personal factors related to altitude and traveling by gondola. It's
            important to ensure your comfort and well-being during the conference. </p>
        <p>After the abstract decision notification, detailed information regarding travel arrangements and logistics
            will be shared with all participants. We are excitedly looking forward to welcoming you to this exceptional
            venue. </p>

        <h4 id="contact">Contact</h4>
        If you have questions regarding the event, please contact:
        <ul class="list-unstyled">
            <li><a href="mailto:kipoisummit@cmm.cit.tum.de">Email organizers</a></li>
        </ul>

        <div id="sponsors">
            <h4>Our Sponsors and Supporters</h4>
            <div class="sponsor-logos">
                <img src="{{ url_for('static', filename='img/BMBF_gefoerdert_2017_en.jpg')}}" alt="Sponsor 1"
                     class="sponsor-logo">
                <!-- Add more sponsor logos as needed -->
            </div>
            <div class="sponsor-logos">
                <img src="{{ url_for('static', filename='img/GHGA_CMYK_Bright_Orange.svg')}}" alt="Sponsor 1"
                     class="sponsor-logo">
                <!-- Add more sponsor logos as needed -->
            </div>
        </div>


    </div>
</div>


{% endblock %}
    
