/*   old main color: #4c5568*/
/*   new main color: #4B515D */

/*   Old table button color: #45526E */
/*   New table button color: #45526E */

body {
    color: #4c5568;
    /* color: #4c5568; */
}

body, html {
	scroll-padding-top: 80px;
}

/* nav-title-link navbar-brand text-hide {
   width: 70px;
   height: 38px;
   background-size: contain;
   background-repeat: no-repeat;
   } */

.navbar-brand-nopad {
    display: inline-block;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap
}

.main-content {
    padding-top: 64px;
}

.unique-color-kipoi, .unique-color {
    background-color: #34669a !important;
}

.left-margin {
    margin-left: 1rem;
}

/* model-list DataTables */
.dataTables_wrapper div.mdl-grid:first-child {
    margin-top: 0.5rem;
    /* width: 100%; */
    /* margin-left: 0; */
    /* margin-right: 0; */
}

.nav-button.btn[class*=btn-outline-] {
    border: .5px solid #ffffff;
    color: #ffffff;
    position: relative;
    -webkit-text-fill-color: #ffffff !important;
    box-shadow: none;
    text-transform: capitalize !important;
    font-size: 1.1em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.nav-button.btn[class*=btn-outline-]:hover, .btn-active {
    background: rgba(255, 255, 255, 0.2);
}

p.header-text {
    /* Kipoi short description on the root page (top right) */
    font-size: 18px;
}

.kipoi-descr {
    font-size: 28px;
}

/* Override dataTable.material.css */
div.dataTables_wrapper div.dataTables_length {
    /* text-align: right; */
    /* width: 300px; */
}

div.dataTables_wrapper div.dataTables_length label {
    /* max-width: 400px; */
    /* width: inherit; */
}

div.dataTables_wrapper div.dataTables_filter {
    /* text-align: left; */
    /* min-width: 300px; */
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
}

.dataTables_wrapper div.mdl-grid.dt-table {
    margin-top: 0.5rem;
}

.dataTables_wrapper div.mdl-grid:last-child {
    width: 100%;
}

.dataTables_wrapper div.mdl-grid:first-child div.mdl-cell:first-child label {
    margin-top: 4px;
}

.dataTables_wrapper div.mdl-grid:first-child div.mdl-cell:first-child select {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
}

.dataTables_wrapper div.mdl-grid:first-child div.mdl-cell:last-child input {
    padding-bottom: 0rem;
    margin-bottom: 0.6rem;
}

.mdl-button.previous {
    min-width: 100px;
}

.mdl-button--raised {
    background: #34669a !important;
}

.nav-title-link {
    font-weight: bold;
}

.model-search {
    display: inline-block;
}

.promenent-search {
    background-color: white;
    min-width: 200px;
    width: 100%;
    max-width: 600px;
}

.promenent-search label {
    display: inline-block;
}

.promenent-search input.model-search {
    color: #4c5568 !important;
    width: 100% !important;
}

.promenent-search input::-webkit-input-placeholder {
    color: #4c5568 !important;
}

.promenent-search input:-moz-placeholder { /* Firefox 18- */
    color: #4c5568 !important;
}

.promenent-search input::-moz-placeholder { /* Firefox 19+ */
    color: #4c5568 !important;
}

.promenent-search input:-ms-input-placeholder {
    color: #4c5568 !important;
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
    box-shadow: none;
}

ul.dependencies > li {
    padding-left: 10px;
}

/* 
*
* Code snippet box
*
*/
.code-snippet-container {
    border-color: #ddd !important;
}

.code-title {
    background-color: #eaeaea;
    padding: 0.4em 0.3em 0.1em 0.3em;

}

.code-container {
    position: relative;
}


.code-toolbar {
    display: block;
    position: absolute;
    top: 0rem;
    right: 0rem;
}

/* pre[class*=language-] {
   margin-bottom: 0;
   min-height: 38px;
   overflow: auto;
   padding: 0.5em;
   color: #4c5568;
   font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
   font-size: .85rem;
   } */

/* 
 *
 * Overvrite material design shadows
 *
 */
.card:not([class*=card-outline-]), .jumbotron {
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: none;
}

hr.clearfix {
    border-color: rgba(0, 0, 0, .125);
}

.media-object {
    box-shadow: none !important;
}

.kipoi-title-box .media-left {
    padding-right: 0;
}

/* Footer */
footer.page-footer {
    margin-top: 2rem;
}

footer.page-footer .footer-copyright {
    margin-top: 20px;
}

/* body { */
/* Margin bottom by footer height */
/* margin-bottom: 232px; */
/* } */

/* .page-footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 232px;
   line-height: 232px;
   background-color: #f5f5f5;
   } */

.thumbnail {
    width: 100%;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.speakers-container {
    display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.speaker {
    text-align: center;
}

.speaker img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.speaker-name {
    margin-top: 20px;
}

.side-menu {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu li {
    margin-bottom: 10px;
}

.side-menu a {
    text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
	background: white;
}

@media (max-width: 1000px) {
  	.side-menu {
		display: none;
  	}
}


.detailed-speakers {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.speaker-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.speaker-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speaker-details {
    flex: 1;
}

.speaker-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.speaker-name {
    margin: 0;
    font-size: 18px;
}

.speaker-affiliation {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.speaker-bio {
    font-style: italic;
}

.sponsor-logos {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}
.sponsor-logo {
  height: 120px; /* Adjust the height as needed */
}