<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Nejc Zupan">
    <title>KIPOI webside</title>
    {% include 'style.html' %}
</head>

<body>
    <section class="mb-3">
        {% include 'nav.html' %}
    </section>

    {% block content %}{% endblock %}
    
    {% include 'footer.html' %}

    {% include 'javascript.html' %}
    
    {% block script %}{% endblock %}
</body>

</html>
