<footer class="page-footer center-on-small-only">
    <!--Footer links-->
    <div class="container-fluid">
        <div class="row">
            <!--First column-->
            <div class="col-lg-3 col-md-6 ml-auto">
                <h5 class="title mb-3"><strong>About KIPOI project</strong></h5>
                <p>Kipoi defines a common 'model-zoo' API for predictive models.</p><p>This repository implements a command-line interface (CLI) and a python SDK to query (and use) the Kipoi models.</p>
            </div>
            <!--/.First column-->
            <hr class="w-100 clearfix d-md-none">
            <!--Second column-->
            <div class="col-lg-2 col-md-6 ml-auto">
                <h5 class="title mb-3"><strong>Useful link</strong></h5>
                <ul>
                    <li>
                        <a href="https://github.com/kipoi/">Github</a>
                    </li>
                    <li>
                        <a href="https://github.com/kipoi/models">Model repository</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <hr class="w-100 clearfix d-lg-none">
            <!--Third column-->
            <div class="col-lg-4 col-md-12 ml-auto text-center">
                <br>
                <ul>
                    <li>
                        <h5>How did you like the project?</h5>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/" class="btn btn-primary waves-effect waves-light" rel="nofollow">Tweet us!</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
        </div>
    </div>
    <!--/.Footer links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="containter-fluid">
            © {{ YEAR }} Copyright: <a href="{{ APP_URL }}"> {{ APP_NAME }} </a>
        </div>
    </div>
    <!--/.Copyright-->
</footer>