
<!--Navbar-->
{% if (request.endpoint == "models.model_list" or request.endpoint == "entry" or request.endpoint == "models.list_groups") and not model %}
<nav class="navbar fixed-top navbar-expand-md navbar-dark unique-color-kipoi">
{% else %}
<nav class="navbar fixed-top navbar-expand-sm navbar-dark unique-color-kipoi">
{% endif %}
    <!-- Navbar brand -->
    <span>
      <a class="nav-title-link navbar-brand-nopad text-hide left-margin" href="{{ url_for('models.main') }}"
	 ><img src="{{ url_for('static', filename='img/nav_bar_logo_v3.png') }}" height="50px" alt="Kipoi"/></a>
    </span>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse text-center" id="navbarNav1">
        
        <!-- Links -->
        <ul class="navbar-nav mr-auto text-center">
	  <!-- Group list --> 
            <li class="nav-item">
              <a id="components-related-1" class="nav-button btn btn-outline-primary navbar-dark nabar-button {% if request.endpoint == "models.list_groups" or request.endpoint == "entry" or models %}btn-active{% endif %}" href="{{ url_for('models.list_groups', group_name='') }}">Models</a>
            </li>
            <!-- About --> 
            <li class="nav-item">
              <a id="components-related-2" class="nav-button btn btn-outline-primary navbar-dark nabar-button {% if request.endpoint == "models.about" or request.endpoint == "entry" or models %}btn-active{% endif %}" href="{{ url_for('models.about') }}">About</a>
            </li>
	    <!-- Docs --> 
            <li class="nav-item">
              <a id="components-related-3" class="nav-button btn btn-outline-primary navbar-dark nabar-button" href="/docs/">Docs</a>
            </li>
        <!-- Seminar -->
            <li class="nav-item">
              <a id="components-related-4" class="nav-button btn btn-outline-primary navbar-dark nabar-button {% if request.endpoint == "models.seminar" or request.endpoint == "entry" or models %}btn-active{% endif %}" href="{{ url_for('models.seminar') }}">Seminar</a>
            </li>
        </ul>

        <!-- Search form -->
        {% if (request.endpoint == "models.model_list" or request.endpoint == "entry" or request.endpoint == "models.list_groups") and not model %}
          <form class="navbar-nav form-inline promenent-search rounded">
            <div class="text-nowrap" style="width: 100%;">
              <label for="search-bar"><i class="fa fa-search fa-fw px-3" aria-hidden="true"></i></label>
              <input id="search-bar" class="form-control model-search" type="text" placeholder="Search" aria-label="Search" autofocus/>
            </div>
          </form>
        {% endif %}

      {% if (request.endpoint == "models.model_list" or request.endpoint == "entry" or request.endpoint == "models.list_groups") and not model %}
        <ul class="navbar-nav ml-auto text-center d-md-none d-lg-flex">
      {% else %}
        <ul class="navbar-nav ml-auto text-center d-sm-none d-md-flex">
      {% endif %}
          <li class="nav-item">
            <a id="components-related-5" class="text-nowrap nav-link waves-effect waves-light" href="https://www.biorxiv.org/content/early/2018/07/24/375345.full.pdf">White paper<i class="fa fa-file-text-o" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a id="components-related-6" class="text-nowrap nav-link waves-effect waves-light" href="https://github.com/kipoi/models">Model repository<i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a id="components-related-7" class="text-nowrap nav-link waves-effect waves-light" href="https://github.com/kipoi/kipoi">API repository<i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
        </ul>
        
    </div>
</nav>
