
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark mdb-color">

    <!-- Navbar brand -->
    <span class="related-content-heading text-white">
        <a class="nav-title-link navbar-brand" href="{{ url_for('models.list_groups') }}">Kipoi:</a>
    </span>
    
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse text-center" id="navbarNav1">
        
        <!-- Links -->
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item {% if request.endpoint == "models.list_models" or request.endpoint == "entry" %}active{% endif %}">
                <a id="components-related-1" class="nav-link waves-effect waves-light" href="{{ url_for('models.list_groups') }}">Group list</a>
            </li>
            {% if request.endpoint == "models.model_details" %}
                <li class="nav-item {% if request.endpoint == "models.model_details" %}active{% endif %}">
                    <a id="components-related-2" class="nav-link waves-effect waves-light" href="{{ request.get }}">Model details</a>
                </li>
            {% endif %}
        </ul>

        <!-- Search form -->
        {% if request.endpoint == "models.list_models" or request.endpoint == "entry" or request.endpoint == "models.list_groups" %}
        <form class="form-inline promenent-search rounded">
            <label for="search-bar"><i class="fa fa-search fa-fw px-3" aria-hidden="true"></i></label>
            <input id="search-bar" class="form-control model-search" type="text" placeholder="Search" aria-label="Search" autofocus/>
        </form>
        {% endif %}

        <ul class="navbar-nav ml-auto nav-flex-icons text-center">
            <li class="nav-item">
                <a id="components-related-3" class="nav-link waves-effect waves-light" href="https://github.com/kipoi/models">Model repository</a>
            </li>
        </ul>
        
    </div>
</nav>